In [1]:
!pip install yfinance==0.2.4

Collecting yfinance==0.2.4
  Downloading yfinance-0.2.4-py2.py3-none-any.whl (51 kB)
     ---------------------------------------- 51.4/51.4 kB 2.6 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.8-cp310-cp310-win_amd64.whl (35 kB)
Requirement already satisfied: numpy>=1.16.5 in c:\users\bruno\anaconda3\lib\site-packages (from yfinance==0.2.4) (1.23.5)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\bruno\anaconda3\lib\site-packages (from yfinance==0.2.4) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\bruno\anaconda3\lib\site-packages (from yfinance==0.2.4) (2022.7)
Requirement already satisfied: pandas>=1.3.0 in c:\users\bruno\anaconda3\lib\site-packages (from yfinance==0.2.4) (1.5.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\bruno\anaconda3\lib\site-packages (from yfinance==0.2.4) (4.11.1)
Requirement already satisfied: requests>=2.26 in c:\users\bruno\anaconda3\lib\site-packages (from yfinance==0.2.4) (2.28.1)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     -------------------------------------- 112.2/112.2 kB 6.4 MB/s eta 0:00:00
Requirement already satisfied: cryptography>=3.3.2 in c:\users\bruno\anaconda3\lib\site-packages (from yfinance==0.2.4) (39.0.1)
Requirement already satisfied: lxml>=4.9.1 in c:\users\bruno\anaconda3\lib\site-packages (from yfinance==0.2.4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\bruno\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance==0.2.4) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in c:\users\bruno\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance==0.2.4) (1.15.1)
Requirement already satisfied: six>=1.9 in c:\users\bruno\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance==0.2.4) (1.16.0)
Requirement already satisfied: webencodings in c:\users\bruno\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance==0.2.4) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\bruno\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance==0.2.4) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bruno\anaconda3\lib\site-packages (from requests>=2.26->yfinance==0.2.4) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bruno\anaconda3\lib\site-packages (from requests>=2.26->yfinance==0.2.4) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bruno\anaconda3\lib\site-packages (from requests>=2.26->yfinance==0.2.4) (2023.5.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\bruno\anaconda3\lib\site-packages (from requests>=2.26->yfinance==0.2.4) (2.0.4)
Requirement already satisfied: pycparser in c:\users\bruno\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance==0.2.4) (2.21)
Installing collected packages: multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.3.8 html5lib-1.1 multitasking-0.0.11 yfinance-0.2.4

In [17]:
import yfinance as yf
import pandas as pd

In [19]:
tesla=yf.Ticker('TSLA')

In [28]:
tesla_share_price_data = apple.history(period="max")

In [30]:
tesla_share_price_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1980-12-12 00:00:00-05:00,0.099584,0.100017,0.099584,0.099584,469033600,0.0,0.0
1,1980-12-15 00:00:00-05:00,0.094821,0.094821,0.094388,0.094388,175884800,0.0,0.0
2,1980-12-16 00:00:00-05:00,0.087894,0.087894,0.087461,0.087461,105728000,0.0,0.0
3,1980-12-17 00:00:00-05:00,0.089625,0.090058,0.089625,0.089625,86441600,0.0,0.0
4,1980-12-18 00:00:00-05:00,0.092224,0.092657,0.092224,0.092224,73449600,0.0,0.0

In [32]:
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots



url=" https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue."
html_data=requests.get(url).text

In [33]:
beautiful_soup=BeautifulSoup(html_data,"html5lib")

In [37]:
import warnings

tables=beautiful_soup.find_all("table")
warnings.filterwarnings('ignore')
for index,table in enumerate(tables):
    if("Tesla Quarterly Revenue" in str(table)):
        table_index=index
tesla_revenue=pd.DataFrame(columns=["Date","Revenue"])

for row in tables[table_index].tbody.find_all('tr'):
    col=row.find_all("td")
    if(col!=[]):
        date=col[0].text
        revenue=col[1].text.strip().replace("$","").replace(",","")
        tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
tesla_revenue.head()

         Date Revenue
0  2023-03-31   23329
1  2022-12-31   24318
2  2022-09-30   21454
3  2022-06-30   16934
4  2022-03-31   18756