# H1: Data Science Tools and Ecosystem

__In this notebook, Data Science Tools and Ecosystem are summarized.__

__Objectives:__

* Some of the popular languages that Data Scientists
* Some of the commonly used libraries used by Data Scientists
* Data Science Tools
* arithmetic expression to mutiply then add integers

Some of the popular languages that Data Scientists use are:
    
    - Python
    - R
    - Scala
    - Java

Some of the commonly used libraries used by Data Scientists include:
    
    - TensorFlow
    - Numpy
    - SciPy
    - Pandas
    - Matplotlib

| Data Science Tools |
| -------------|
| RStudio |
| Jupyter Notebook |
| Microsoft Visual Studio |

# H3: Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

# H2: Author
Bruno